body
{
    background-color: yellow;
    font-family: fantasy;
    color: black;
}
#Score
{
    font-size: 20px;
    margin-left: 50px;
}
#Timer
{
    font-size: 20px;
    float: right;
    margin-right: 100px;
}
#heading1
{
    color: blue;
    font-weight: lighter;
}
canvas {
    position: absolute;
    left: 543px;
    top: 162.5px;
    border: 5px solid red;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {
        box-shadow: 1px 1px 38px grey;
    }

    to {
        box-shadow: 1px 1px 38x white;
    }
}
